/*
 Skin Name:   Shakepeers
 Description:  Skin for shakepeers.org
 Author:       Mark Nightingale
 Author URI:   http://marknightingale.net
 
*/

/* Fix Jansy Dropdown Nav Bug */
.navmenu-nav.dropdown-menu { position:relative }


/* =Theme customization starts here
-------------------------------------------------------------- */

/*----------------------
Colors =================
------------------------*/
/* Feel free to copy&paste color codes to your application */
/* Shakepeers Orange : #ec6719*/
/* Shakepeers Blue : #2f99cc */


/* Fonts */
html, body {font-family: "Source Sans Pro", Helvetica, sans-serif; position:relative;}
h1, h2, h3, h4, h5, h6 {font-family: "Quicksand"; ;}
h1 {font-size:2.1em; font-weight: bold; color: #2f99cc;}
h2 {font-size: 1.9em; font-weight: bold; color: #ec6719;}
h3 {font-size: 1.6em; font-weight: bold; color: #F38856; border-bottom: none;text-shadow:none; }
img {max-width: 100%;height: auto;}

a {color: #2f99cc;}
a.new {color: #B84212;}
.btn-primary
p {line-height: 1.8}

/*  Overrides  */
h2 .mw-headline {font-size: inherit; border-bottom: 0; text-shadow:none;}
.mw-headline {text-shadow: none !important}
#wiki-body h2 {border-bottom: 0; margin-bottom: 1.3em;}
.btn {border-radius: 0; border: none;}
.btn-primary {background-color: #2f99cc;}
#container {padding:0;}
@media screen and (max-width:767px) {
    #mw-content-text .floatright {margin-left: 0;}
}
/*-------------------------------------------------------------- */
/*-------------------------------------------------------------- */
/*----------------  GLOBAL THEME CUSTOMISATION------------------ */
/*-------------------------------------------------------------- */
/*-------------------------------------------------------------- */
.navbar {border-radius: 0;}
.form-control {border-radius: 0; border: 1px solid #8E8E8E; font-size: 0.8em;}
input.form-control {box-shadow: none; background-color: white; color: #2f99cc; }
input.form-control::-webkit-input-placeholder { color: #B0B0B0 ;}
input.form-control::-moz-placeholder { color: #B0B0B0 ;}

body {padding:0; background: #ededed; }
.content_holder {background-color: white; padding: 20px; border-top: 1px dashed #ec6719 ; margin-top: 70px; position: relative; z-index:10;}
.page-Accueil .content_holder {margin-top: 0;}
.background_container {
    background-color: #2f99cc;
    height:350px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index:-10;
}




/* Redefine panels */
.panel {border-radius: 0; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none ; -ms-box-shadow: none; border:0 ; background-color: #EDEDED; }
.panel-default {border: 3px solid #ACACAC; border-left: none;border-right: none;}
.panel-primary {border: 3px solid #ec6719; border-left: none; border-right: none;}


/* Badges */
.badge-shakepeers {
background-color: #ec6719;
}

/* --------------------------- ---------------------------------
---------------------- Header ----------------------------------
-----------------------------------------------------------------*/
.top_block {background: white; min-height: 170px; border-bottom: 1px dashed #ec6719;}

.page-header {margin-top: 0; border-bottom:0; margin-bottom:0; }


/* ---------- Secondary Navigation ---------------*/
.navbar_secondary {
    background-color: #ec6719; height: 35px; width: 100%; border:none; min-height: 0; 
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}

.navbar_secondary .navbar-nav>.open>a, .navbar_secondary .navbar-nav>.open>a:hover, .navbar_secondary .navbar-nav>.open>a:focus, .navbar_secondary .navbar-nav>li>a:hover, .navbar_secondary .navbar-nav>li>a:focus {background-color: #D15C17; color: white; }

.navbar_secondary .navbar-right:last-child {margin-right: 30px;}
.navbar_secondary .nav > li > a {padding: 8px; margin-top:-1px;}
.navbar_secondary .navbar-nav>li>a {color: white;}

.navbar_secondary .navbar-right {float: right !important;margin-top: 0;}
.navbar-nav-user .open .dropdown-menu {position:absolute !important; right:0; left: auto; background-color: #D15C17 !important; margin-top: 10px; margin-right: 5px; z-index:20;}
.navbar-nav-user .open .dropdown-menu a {color: white !important;}

@media screen and (max-width:787px) {
    .navbar_secondary .navbar-nav-user>li>a:focus,
    .navbar_secondary .navbar-nav-user>.open>a, .navbar_secondary .navbar-nav>.open>a:hover, 
    .navbar_secondary .navbar-nav-user>.open>a:focus, 
    .navbar_secondary .navbar-nav-user>li>a:hover, 
    .navbar_secondary .navbar-nav-user>li>a:focus {background-color: transparent;}
    
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border: 0;}
.navbar_secondary .navbar-toggle {float: left; border: none; padding: 5px;}
.navbar_secondary .navbar-toggle .icon-bar {background-color: white;}
.navbar_secondary .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #BF3D0C;}

.navbar_secondary .navbar-collapse {display: block !important;} 

/*---------- OffCanvas Navigation ---------------*/
#off_canvas_menu {z-index:1; background-color: #ec6719; border:0;}
.canvas {z-index:2;}
#off_canvas_menu .navmenu-brand {color: white;}
#off_canvas_menu .navmenu-nav>li>a {color:white;}
#off_canvas_menu .navmenu-nav {background-color:#F3945E;}
#off_canvas_menu .navmenu-nav>.open>a {background-color: #C4421B;}
#off_canvas_menu .navmenu-nav>.dropdown>a .caret, #off_canvas_menu .navbar-offcanvas .navmenu-nav>.dropdown>a .caret {color: white; border-top-color: white;
border-bottom-color: white;}
#off_canvas_menu .navmenu-nav.dropdown-menu, #off_canvas_menu .navbar-offcanvas .navmenu-nav.dropdown-menu {background-color: #ED733C;}
#off_canvas_menu .dropdown-menu:before {content: '';}

.close_menu {position: absolute;
right: 20px;
font-size: 2em;
color: white;
top: 25px;}

/* ---------------- Primary Navigation ---------------*/
.search_form {float: none !important;clear: both;text-align: right; margin-right: 30px; position: relative; margin-left: 30%;}
.search_form div:after {content: '\f002'; color: #B0B0B0; font-family: "FontAwesome"; display: inline-block; position: absolute; right: 24px; top:6px;}

.navbar-nav.navbar-right:last-child {margin-right:15px;}

.navbar-brand {z-index:10;}
.navbar-brand img {max-height:120px;}
.navbar .info_menu_button {font-size:1.5em !important; }

.navbar-primary .navbar-nav li a {color:#ec6719; font-size: 1.2em; }
.navbar-primary {margin-bottom: 0;}


.navbar-primary.yamm .dropdown.yamm-fw .dropdown-menu {
    max-width:800px;
    min-width: 600px;
    left: auto;
}
.navbar-nav .yamm-content a {color: white !important;}
.navbar-nav .yamm-content li {list-style:none;}
.navbar-nav .yamm-content ul {padding-left: 10px;}
.yamm .yamm-content {padding: 10px !important;}
.yamm .dropdown {position: relative;}
.yamm .yamm-fw {position: static;}

@media screen and (max-width:767px) {
    .top_block .navbar-brand {height: 120px; float:none; text-align: center; display:block ;}
    .search_form {margin-left:0; margin-right:0; background-color : #ededed;}
    .search_form div:after {top: 16px;}
} 


/*================ Dropdown Menus =================*/
.navbar-nav>li>.dropdown-menu {border-radius: 10px; border: none; background-color: #D15C17; margin-top: 10px; box-shadow: none; padding-top: 10px; padding-bottom:5px;
}
.navbar-nav .dropdown-menu>li>a {color: white;}

.navbar-nav-user .dropdown-menu>li>a {font-size: 12px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {background-color: #ec6719;}


/* Specific for page menu */
.navbar-nav.content-actions >li>.dropdown-menu {background-color: #1974A2;}

.content-actions .dropdown-menu>li>a:hover, .content-actions .dropdown-menu>li>a:focus {background-color: #2F98CD;}


/* Arrow */
.dropdown-menu:before {content: url('images/menucallout.png');display: block; position: absolute;top: -15px; right: 26px;
}
.navbar-primary .dropdown-menu {margin-top: 5px !important;}
.yamm-fw .dropdown-menu:before {right:33%;}



/*----------------------------------------------------------------
    -------------- General Article things        ----------------
  ----------------------------------------------------------------
*/
#wiki-body {padding:0 50px;}
@media screen and (max-width:767px) {
    #wiki-body {padding: 0;}
} 
/* ----------- Page menu ------------ */

.content-actions>li {background-color: rgba(47,153,204,0.4); color: white;margin-left: 5px; transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s;}
.content-actions:hover>li {background-color: rgba(47,153,204,0.7)}
.content-actions>li:hover {background-color: rgba(47,153,204,1);}
.content-actions>li.open {background-color: rgba(47,153,204,1) !important}

.content-actions>li>a {color: white; font-size: 2em; padding: 5px; background-color:transparent !important;}

.content-actions {margin-top: 20px; float: right;}

.content-actions li {float:left;}
.content-actions .open .dropdown-menu {position:absolute !important; margin-top: 10px; margin-right: 5px; z-index:20; right: 0; left: auto;}
@media screen and (max-width:768px){
.content-actions {margin:0;}
}

/* Arrow colour */
.content-actions .dropdown-menu:before {content: url('images/menucallout-blue.png')}


/*--------------- Infobox -------- */
.infobox {padding: 20px; margin-left: 15px; margin-bottom:15px; margin-top:20px; width: 100%; font-size: 0.8em}
.infobox p {margin-bottom:5px;}

@media screen and (min-width:768px){
    .infobox {max-width: 40%; min-width:30%: auto;}
}

.infobox .contributors a {font-size: 1.2em;}

.infobox .icon_line {font-size: 1em;}
.infobox .icon_line .badge-shakepeers {font-size: 1.2em; opacity: 0.7; border-radius: 50%; padding:7px;margin-right:10px}
.infobox .icon_line small {font-size: 12px;}

.infobox #toc_container li {list-style: none;}
.infobox #toc_container>ul {padding:0;}

.infobox hr {border: 1px solid #CFCFCF; border-bottom:0; margin: 20px -20px;}


/* ------- Styles -------- */
/*.mw-headline {font-size: inherit !important}*/
h2 .mw-headline, 
h3 .mw-headline, 
h4 .mw-headline,
h5 .mw-headline,
h6 .mw-headline {font-size: inherit; font-weight: bold;}

#wikibody h2 {color: #ec6719; border-bottom: none; text-shadow:none; }
#wiki-body h3 {color: #F38856; border-bottom: none;text-shadow:none; }
#wiki-body h4 {border-bottom: none; text-shadow:none; color: #ED8D66;}
#wiki-body h5 {border-bottom: none; text-shadow:none; color:#2f99cc;}
#wiki-body h6 {border-bottom: none; text-shadow:none; font-weight: normal; }


/*----------------------------------------------------------------
    -------------- Homepage specific things ----------------
  ----------------------------------------------------------------
*/

h2.homepage_quote {text-align:center;  color: white; margin: 100px auto; max-width: 80%; text-shadow: 0px 0px 20px rgba(44, 47, 71, 0.5);}
@media screen and (max-width:767px) {
    h2.homepage_quote {font-size: 1.4em; margin: 70px auto; }
}
.article_quick_links {
    margin: -20px -20px 0 -20px;
}
.article_quick_links i {
font-size: 2em;
display: block;
margin:auto;
text-align: center;
}
.article_quick_links a {height: 105px; display: block; color: white; text-decoration: none;padding: 10px;}
@media screen and (min-width:480px) {
    .article_quick_links a {height: 80px;}
    
}
@media screen and (min-width:768px) {
    .article_quick_links a {height: auto;}
    
}
.article_quick_links .published {background-color : #ec6719;}
.article_quick_links .revision {background-color : #EB8243;}
.article_quick_links .draft {background-color : #ECA178;}


/* Articles boxes */
.articles_widget {background-color: #EDEDED; padding:15px;margin-bottom: 30px;}
.articles_widget h3 {background-color: #ec6719 ; padding: 5px 15px; margin: -15px -15px 15px -15px; color: white; font-size: 1.2em; font-weight:bold; position:relative;}
.articles_widget h3 a {color: white; position:relative; bottom: 8px;} 

/*First icon*/
.articles_widget h3 .icon {font-size: 2em; margin-right: 0vpx;}

/*Rss Icon*/
.articles_widget h3 .rss_button {position: absolute; top:12px; right:10px;}
.articles_widget h3 .rss_button .icon {font-size:1.2em;}


.articles_widget li {color: #2f99cc;}
.articles_widget ul {padding-left: 17px;}
.articles_widget:nth-child(2) h3 {background-color: rgba(236,103,25,0.7)}
.articles_widget:nth-child(3) h3 {background-color: rgba(236,103,25,0.5)}

.see_more_link_holder a {color: #ec6719; font-weight:bold; text-decoration:none;}
.see_more_link_holder a:hover {color: #9C3910;}
.see_more_link_holder a .icon {position: relative; top: 2px;}


.page-Accueil .background_container {
    background-image: url('images/background.jpg'); 
    background-position: 50% 0; 
    background-size: 100%;
    height: 500px;
}

@media screen and (max-width:767px) {
    .page-Accueil .background_container {
        background-size: cover;
        margin-top:163px;
        height:300px;
    }
}


/*------ widget sidebar ------*/
.widget_sidebar {margin-top: 20px;padding-right: 35px;}


/*----------------------------------------------------------------
    -------------- Discussion specific things ----------------
  ----------------------------------------------------------------
*/

.ns-talk .lqt_header_content {
    margin-top:-0.5em;
    border: 0;
}
.ns-talk .lqt-talkpage-header {border:0;
    background: #ededed; 
    padding:0; 
    display: flex; 
    display: -webkit-flex;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.ns-talk .lqt_start_discussion {display: inline-block;
background-color: #2f99cc;
font-family: "Quicksand";
font-weight: normal; 
padding:10px;
flex: 1 0 0;
-webkit-flex: 1 0 0;
margin: 15px;}
.ns-talk .lqt_start_discussion a {color: white !important;}

.ns-talk .lqt-talkpage-header label {color: #2f99cc;font-family: "Quicksand";}

.ns-talk .lqt-talkpage-search {flex:2 0 0; -webkit-flex:3 0 0;}
.ns-talk .lqt_view_options {flex:2 0 0; -webkit-flex:3 0 0;}

.ns-talk .lqt-talkpage-header form {display: flex; display: -webkit-flex;-webkit-align-items: center;align-items: center;}

.ns-talk .lqt-talkpage-header form label {flex: 1 0 0; -webkit-flex: 1 0 0;}
.ns-talk .lqt-talkpage-header form input {flex: 2 0 0; -webkit-flex: 2 0 0;}
.ns-talk .lqt-talkpage-header form select {flex: 2 0 0; -webkit-flex: 2 0 0; margin-left: 5px;}
.ns-talk .lqt-talkpage-header form input.btn {flex: 1 0 0; -webkit-flex: 1 0 0;}

.ns-talk .lqt-talkpage-header form input {max-height: 30px; margin-left:5px;}
.ns-talk .lqt_view_options form {margin-top: 5px; padding-right:15px;}


.ns-talk .lqt_toc {width: 100%; border-bottom: #ec6719 solid 5px;}

.ns-talk .lqt_toc thead {background-color: #ec6719; color: white; font-family: "Quicksand"; font-size: 1.3em;}
.ns-talk .lqt_toc td {border: 0 !important;}
.ns-talk .lqt_toc th {border: 0 !important;}

@media screen and (max-width:767px) {
    .ns-talk .lqt-talkpage-header {
        flex-direction: column;
        height: 350px;
    }
    .ns-talk .lqt-talkpage-header form {flex-direction: column; height: 118px;}
    .ns-talk .lqt-talkpage-header form label, 
    .ns-talk .lqt-talkpage-header form input, 
    .ns-talk .lqt-talkpage-header form select {flex: 1 0 0; -webkit-flex:1 0 0; max-width: 100%; margin: 5px;}
    
    .ns-talk .lqt_toc thead {font-size: 0.8em;}
    .ns-talk .lqt-thread-toolbar {position: static;}
    .ns-talk .lqt_thread .lqt-post-wrapper {margin: 0;}
    
    .lqt-thread-replies {padding : 2px;}
}


.ns-talk .lqt_threadlevel_commands {float: left; margin: 0;}
.ns-talk .lqt_threadlevel_commands a {color: #ec6719; font-family: Quicksand;}
.ns-talk .lqt-post-wrapper {border: none !important; border-radius: 15px;background-color: #F9F9F9}

.ns-talk .lqt_thread .lqt-post-wrapper {background-color: #EBEBEB; margin: 20px 0;} 
.ns-talk .lqt_thread .lqt_thread .lqt-post-wrapper {background-color: #E8E8E8}
.ns-talk .lqt_thread .lqt_thread .lqt_thread .lqt-post-wrapper {background-color: #DFDFDF}
.ns-talk .lqt_thread .lqt_thread .lqt_thread .lqt_thread .lqt-post-wrapper {background-color: #D5D5D5}

.ns-talk .lqt_thread_heading {border : 0; margin: 50px 0 30px 0;;} 

/*----------------------------------------------------------------
    --------------      Page Categorie         ----------------
  ----------------------------------------------------------------
*/
/*.ns-subject .body p {color: #6C6C6C;}
*/

#mw-pages h3+ul {
margin-top: -25px;
margin-left: 41px;
}

/*----------------------------------------------------------------
            -------------- Footer ----------------
  ----------------------------------------------------------------
*/
.bottom footer {margin-top:0;}
.bottom {background:transparent;}
.footer_background {background-color: #2f99cc; bottom:0 ; width:100%; margin-top:-100px; padding-top: 100px; position:relative;}
.bottom p, .bottom a {color: white;}
.bottom h3 {color:white;}
.bottom .mw-headline {font-size: 20px;}

.networks {font-size: 33px;}

.partenaires img {margin: 10px 20px;}

.logo_container-shakepeers {text-align:right; margin-top: -20px;}
@media screen and (max-width: 767px) {
    .partenaires_column {text-align: center;}
}



