
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('vendor/quicksand-googlefont/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('vendor/sourcesanspro-googlefont/SourceSansPro-Regular.ttf');
}
