/*
 * Printable styles
 *
*/

body {background: white;}
.background_container {display: none;}
.navbar_secondary {display: none;}
.search_form {display: none;}
.navbar-primary .navbar-collapse { display: none !important;}
.top_block {border-color: black; min-height: 134px;}
.content_holder {margin-top: 0; border-top: 0;}

.infobox {border-top: 2px black solid; border-bottom: 2px black solid; background: transparent;}
.infobox .badge {background: transparent;}
.infobox .icon {color: black;}

h1, h2, h3, h4, h5, h6 {color: black !important;}

.footer_background {display: none;}
